{:min-bb-version "0.8.0",
 :tasks {lint (clojure "-M:clj-kondo --lint src test")
         push {:depends [test lint] :task (do (shell "git push origin") (shell "git push origin --tags"))}
         repl (shell "rlwrap bb clojure -M:repl")
         tag {:depends [test lint] :task (clojure "-T:build tag")}
         test (apply clojure "-M:test -m kaocha.runner" *command-line-args*)}}
