{:aliases {:jar {:exec-args {:artifact-id "nuzzle",
                             :group-id "codes.stel",
                             :jar "codes.stel.nuzzle.jar",
                             :jar-type :uber,
                             :version "0.1.0"},
                 :exec-fn hf.depstar/jar,
                 :extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}},
           :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"},
                               nrepl/nrepl {:mvn/version "0.8.3"}}
                  :extra-paths ["dev" "test" "test-resources"],
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"
                              "--interactive"]},
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.63.998"}},
                  :extra-paths ["test" "test-resources"]}}
 :deps {clj-rss/clj-rss {:mvn/version "0.3.0"}
        ring/ring-core {:mvn/version "1.9.5"} ,
        ring/ring-devel {:mvn/version "1.9.5"} ,
        http-kit/http-kit {:mvn/version "2.5.3"},
        io.github.kiranshila/cybermonday {:git/sha "17bb2c412171283440276a0a8e2cfd6f252aad91"}
        babashka/fs {:mvn/version "0.1.4"},
        metosin/malli {:mvn/version "0.8.4"}
        org.clojure/clojure {:mvn/version "1.11.1"},
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"},
        stasis/stasis {:mvn/version "2.5.1"}},
 :paths ["src"]}
