{:nuzzle/build-drafts? true
 :nuzzle/base-url "https://foobar.com"
 :nuzzle/render-page nuzzle.config-test/render-page
 :nuzzle/rss-channel {:title "Foo's blog"
                      :description "Rants about foo and thoughts about bar"
                      :link "https://foobar.com"}
 :nuzzle/sitemap? true
 :nuzzle/overlay-dir "public"
 :nuzzle/publish-dir "/tmp/nuzzle-test-out"

 [] {:nuzzle/title "Home"}

 [:blog :nuzzle-rocks]
 {:nuzzle/title "10 Reasons Why Nuzzle Rocks"
  :nuzzle/content "test-resources/markdown/nuzzle-rocks.md"
  :nuzzle/updated "2022-05-09"
  :nuzzle/rss? true
  :nuzzle/tags #{:nuzzle}}

 [:blog :why-nuzzle]
 {:nuzzle/title "Why I Made Nuzzle"
  :nuzzle/content "test-resources/markdown/why-nuzzle.md"
  :nuzzle/rss? true
  :nuzzle/tags #{:nuzzle}}

 [:blog :favorite-color]
 {:nuzzle/title "What's My Favorite Color? It May Suprise You."
  :nuzzle/content "test-resources/markdown/favorite-color.md"
  :nuzzle/rss? true
  :nuzzle/tags #{:colors}}

 [:about]
 {:nuzzle/title "About"
  :nuzzle/content "test-resources/markdown/about.md"}

 :meta
 {:twitter "https://twitter/foobar"}}

