{:remove-drafts? false
 :render-webpage nuzzle.generator-test/render-webpage
 :rss-opts {:title "Foo's blog"
            :description "Rants about foo and thoughts about bar"
            :link "https://foobar.com"
            :author "foo@bar.com (Foo Bar)"}
 :static-dir "public"
 :output-dir "/tmp/nuzzle-test-out"
 :site-data
 [
  {:id []}

  {:id [:blog :nuzzle-rocks]
   :title "10 Reasons Why Nuzzle Rocks"
   :content "test-resources/markdown/nuzzle-rocks.md"
   :rss? true
   :tags [:nuzzle]}

  {:id [:blog :why-nuzzle]
   :title "Why I Made Nuzzle"
   :content "test-resources/markdown/why-nuzzle.md"
   :rss? true
   :tags [:nuzzle]}

  {:id [:blog :favorite-color]
   :title "What's My Favorite Color? It May Suprise You."
   :content "test-resources/markdown/favorite-color.md"
   :rss? true
   :tags [:colors]}

  {:id [:about]
   :title "About"
   :content "test-resources/markdown/about.md"}

  {:id :meta
   :twitter "https://twitter/foobar"}

  ]

 }

